body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}



header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}


.logo {
    height: 50px;
    margin-left: 20px;
}

.menu {
    flex-flow: row wrap;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.menu li {
    color: white;
    position: relative;
}

.menu a,
.menu span {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border: 1px solid #ccc;
}

.menu li:hover .submenu {
    display: block;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

main {
    background-color: black;
}

.info-card {
    flex: 1 1 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 20px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card img,
.info-card p {
    max-width: 100%;
    height: auto;
    display: flex;
    color:white;
    flex: 1;
}

.divider {
    position: relative;
    border-bottom: 1px solid white; 
    margin-left: 25px; 
    margin-right: 25px;
}

.divider_mamooth {
    position: relative;
    border-bottom: 1px solid white; 
    margin-left: 25px; 
    margin-top: 20px;
    margin-right: 25px;
}


.info-card-element{
    min-width: 300px;
    max-width: 100%;
    display: flex;
    color:white;
    flex: 1;
}

footer {
  background-color: black;
}

.footer {
  padding-bottom: 10px;
  background-color: black;
}

.footer_text {
    margin: 0px;
    text-align: center;
    color:white;
    font-size: 1.75vh;
    margin-bottom: 10px;
}