#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video {
    position: relative;
    height: 100vh; /* Высота экрана */
}

.video__media {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.intro {
    position: relative;
    background: url("files/mfti.jpg") center no-repeat;
    background-size: cover;
    height: 100vh; /* Высота экрана */
}

.intro::after {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.container_title_text {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro__title {
    font-size: 5vw;
    color: #fff;
    margin: 0;
    text-align: center;
}

.mkad {
    font-size: 3.5vh;
    color:white;
}

.question {
    font-size: 4vh;
    color:white;
    margin-top: 20px;
}

#university {
    display: block;
}