body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    /* width: 100%; */
    top: 0;
    left: 0;
    z-index: 1000;
    /* flex:sticky; */
    position: sticky;
}

.logo {
    height: 50px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.menu li {
    position: relative;
}

.menu a, .menu span {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
}

.menu li:hover .submenu {
    display: block;
}

#background-video {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    object-fit: cover;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
}

.video__media {
    position: absolute;
    width: 100%;
    height: auto;
    top:0;
    left:0;
}

.intro::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    top:0;
    left:0;
    position: absolute;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro__title {
    font-size: 80px;
    color: #fff;
    margin:0;
    text-align: center;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 3;
}

