body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}



header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    /* width: 100%; */
    top: 0;
    left: 0;
    z-index: 1000;
    /* flex:sticky; */
    /* position: sticky; */
}


.logo {
    height: 50px;
    margin-left: 20px;
}

.menu {
    flex-flow: row wrap;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.menu li {
    color: white;
    position: relative;
}

.menu a,
.menu span {
    color: white;
    text-decoration: none;
    /* color: black; */
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border: 1px solid #ccc;
}

.menu li:hover .submenu {
    display: block;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video {
    position: relative;
    height: 100vh; /* Высота экрана */
}

.video__media {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.intro {
    position: relative;
    height: 100vh; /* Высота экрана */
}

.intro::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}


.container_title_text {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro__title {
    font-size: 5vw;
    color: #fff;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

main {
    background-color: black;
}

.info-card {
    flex: 1 1 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card img,
.info-card p {
    max-width: 100%;
    height: auto;
    display: flex;
    color:white;
    flex: 1;
}

.info-card-element{
    min-width: 300px;
    max-width: 100%;
    display: flex;
    color:white;
    flex: 1;
}

/* @media (max-width: 768px) {
    .info-card {
        flex-direction: column;
    }

    .info-card img {
        max-width: 100%;
        margin-bottom: 10px;
    }
} */
