.people_title {
  font-size: 5vh;
  font-family: monospace;
  color: white;
  text-align: center;
  display: block;
}

a.text:active, 
a.text:hover,  
a {
  color: white;
}

.celebrity {
  font-size: 3rem;
  font-family: monospace;
}

.celebrity_text {
  font-size: 1.5rem;
  font-family: monospace;
}