.people_title {
  font-size: 5vh;
  font-family: monospace;
  color: white;
  text-align: center;
  display: block;
}

.img_celebrity {
  height: 70px;
}

.celebrity {
  font-size: 3rem;
  font-family: monospace;
}