body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}



header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: sticky;
    /* width: 100%; */
    top: 0;
    left: 0;
    z-index: 1000;
    /* flex:sticky; */
    /* position: sticky; */
}


.logo {
    height: 50px;
    margin-left: 20px;
}

.menu {
    flex-flow: row wrap;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.menu li {
    color: white;
    position: relative;
}

.menu a,
.menu span {
    color: white;
    text-decoration: none;
    /* color: black; */
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border: 1px solid #ccc;
}

.menu li:hover .submenu {
    display: block;
}

main {
    background-color: black;
}

.text {
    background-color: black;
    color:white;
}

