.title_text {
    font-size: 6vh;
    text-align: center;
    color:white;
}

.text_comparsion {
    color:white;
    text-align: center;
    font-family: monospace;
    margin: auto;
    margin-top: 10px;
    font-size: 4vh;
}

.divider_end {
    position: relative;
    border-bottom: 1px solid white; 
    margin-left: 25px; 
    margin-right: 25px;
    margin-bottom: 10px;
}

.lenin_text {
    font-size: 3.5vh;
    text-indent: 7vh;
    font-family: monospace;
}

.center_text {
    text-align: center;
    font-size:3vh;
    margin-top: 10px;
}

.maps_cheb {
    text-indent: 7vh;
    font-size: 3.5vh;
    font-family: monospace;
}

.chapaev {
    text-indent: 7vh;
    font-size: 4.5vh;
    font-family: monospace;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.lenin_img {
    max-height: 600px;
}