.title_text {
    font-size: 5vh;
    text-align: center;
    color:white;
}

.text_comparsion {
    color:white;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.divider_end {
    position: relative;
    border-bottom: 1px solid white; 
    margin-left: 25px; 
    margin-right: 25px;
    margin-bottom: 10px;
}