.video {
    position: relative;
    height: 100vh; /* Высота экрана */
}

.video__media {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.intro {
    position: relative;
    background-size: cover;
    height: 100vh; /* Высота экрана */
}

.intro::after {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.container_title_text {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro__title {
    font-size: 5vw;
    color: #fff;
    margin: 0;
    text-align: center;
}

.text_comparsion {
    color:white;
    text-align: center;
    font-family: monospace;
    margin: auto;
    margin-top: 10px;
    font-size: 4vw;
}

.info-card-element{
    margin: auto;
    font-size: 3vw;
}

#button-open{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a {
    color: white;
}
