.info-card-element{
    margin: auto;
}

.text_comparsion {
    color:white;
    text-align: center;
    font-family: monospace;
    margin: auto;
    margin-top: 10px;
    font-size: 4vh;
}

.center_text {
    text-align: center;
    font-size:3vh;
    margin-top: 10px;
}

.text_under_img{
    text-align: center;
    font-size:5vh;
    margin-top: 10px;
}